body {
  background: radial-gradient(circle at top, #ffffff, #dad7d7);
  font-family: 'Poppins', sans-serif;
}

.btn-warning {
  background-color: #75b60d !important;
  border: none;
}

.btn-warning:hover {
  background-color: #75b60d !important;
}

.card {
  border-radius: 1rem;
}
